@font-face {
  font-display: swap;
  font-family: "Babylonica";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/babylonica-v5-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/advent-pro-v28-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/advent-pro-v28-latin-regular.woff2") format("woff2");
}

:root {
  --color-primary-green: #bfc4ac;
  --color-primary-light: #dad7cd;
  --color-primary-dark: #7e9971;
  --color-text: #453f30;
}
/* Basic styles */
* {
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
body {
  font-family: "Advent Pro", sans-serif;
  font-weight: 400;
  font-size: 21px;
  background-color: var(--color-primary-light);
  color: var(--color-text);
}

ul {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.logo {
  width: 100px;
  height: 120px;
}
/* Decor */

.decor {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0;
  position: absolute;
  background-color: var(--color-primary-green);
}
.decor-tytle {
  font-family: "Babylonica", sans-serif;
  font-size: 50px;
  font-weight: 200;
  margin: 0;
}
/* Header */
.header {
  position: relative;
  padding: 60px;
}
.header-box {
  padding: 0 60px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  background-color: var(--color-primary-green);
  top: 0;
  left: 0;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-list {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.hero-tytle {
  font-family: "Babylonica", sans-serif;
  font-size: 56px;
  font-weight: 400;
  margin: 0;
}

.header-link {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.3s;
}
.header-link:hover {
  color: var(--color-primary-dark);
}

.basket-button {
  display: flex;
  background-color: transparent;
  border: 0;
  fill: var(--color-text);
  cursor: pointer;
  transition: 0.3s;
}
.basket-button:hover {
  fill: var(--color-primary-dark);
}
/* Info */
.container-info {
  padding-top: 50px;
}
.info {
  background-image: linear-gradient(
      126.97deg,
      rgba(18, 18, 17, 0.78) 2.45%,
      rgba(18, 18, 17, 0.6) 59.159%,
      rgba(18, 18, 17, 0) 91.215%
    ),
    url(./images/background-flower-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 300px;
  position: relative;
}
.info-text {
  font-family: "Babylonica", sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: var(--color-primary-light);
}
/* florist */
.florists {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 90px 0;
}
.florist {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 40px;
}

.florists-tytle {
  width: 100%;
  padding: 0 100px;
}

.florist-texts {
  padding: 0 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
.florist-text {
  display: flex;
}

/* Flowers */

.flowers-section {
  position: relative;
  padding: 100px 0px;
}

.flowers-list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.flowers-image {
  max-width: 500px;
  border-radius: 32px;
}
.flowers-card {
  flex-basis: 47.5%;
  border: 1px solid var(--color-primary-dark);
  border-radius: 32px;
  padding: 30px 0;
  transition: 0.3s;
}
.flowers-card:hover {
  transform: scale(1.02);
  z-index: 1;
}
.flowers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  text-decoration: none;
}

.flowers-text {
  font-family: "Babylonica", sans-serif;
  font-size: 40px;
  font-weight: 200;
  color: var(--color-text);
}

/* Contacts */

.contacts-section {
  position: relative;
}

.contacts-flex {
  padding: 100px 0;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.maps {
  width: 600px;
  height: 600px;
  border-radius: 32px;
  border: none;
}

.contacts-ordercall-tytle {
  font-family: "Babylonica", sans-serif;
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 30px;
}

/* Form */
.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.form-input {
  border: 2px solid var(--color-primary-dark);
  border-radius: 32px;
  background-color: transparent;
  padding: 15px;
  width: 100%;
}

.button {
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-text);
  border: 3px solid var(--color-primary-dark);
  font-family: "Advent Pro", sans-serif;
  font-weight: 400;
  font-size: 21px;
  transition: 0.3s;
}
.button:hover {
  border: 3px solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

/* footer */

.footer {
  position: relative;
}

.flex-footer {
  display: flex;
  flex-basis: 100%;
  padding-top: 80px;
  flex-wrap: nowrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer-nav,
.footer-addres {
  flex-basis: 50%;
  display: flex;
  gap: 40px;
}
.footer-adress {
  display: flex;
  gap: 40px;
}

.footer-list,
.footer-menu {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.footer-logo {
  padding-top: 15px;
  flex-grow: 1;
}
.policy-text {
  flex-grow: 1;

  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-links {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.3s;
}

.footer-links:hover {
  color: var(--color-primary-dark);
}
